@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap'); /*ссылка на шрифт*/

*{
    font-family: 'Gabarito', cursive; /*вставляем шрифт*/
}

body {
    margin: 0; /*внешние отступы*/
    background-image: url(../lab2.2/images/back.jpg);  
}

.form-group{
    margin-bottom: 20px; /*1.25rem = 20px*/
}

.text-center{
    text-align: center;
}

.container{
    max-width: 50%;
    margin: 250px auto;
    background-color: #d0406b;
    text-align: center;
    border-color: black;
}

button {
    margin: 0 auto;
    display: block;
  }



